//"紀錄"專案用到的tailwinde CSS
//這個檔案可刪除
//方便修改使用

//文字大小
text-sm:14px
text-base:16px
text-lg:18px

//顏色

//padding寬度
px-4 : 16px
//長寬

//致中
.toCenter{
    flex items-center justify-center
};
//navHeight
h-12 :48px

cursor-pointer

colorBlue: text-blue-basic

$letterSpacing2 :tracking-widest

li{
    list-none ml-2.5 cursor-pointer hover:underline
    
    m-1:5px
    m-2.5:10px
    m-4:15px

    svg{
        w-4 h-4 fill-current stroke-current text-white 
    }
    //stroke-0 1 2 厚度

    border-radius:3px rounded
    <i class="pe-7s-config pe-lg pe-2x pe-fw pe-va"></i>

    svg {
        w-5 h-5 
    }

    div px-5
        h1{py-8 text-3xl text-gray-600}
        tables{}   table-auto  table-fixed w-full
        table_set{} 
        boxShadow{}
            table_title{flex items-center h-16 pl-8 bg-blue-title text-lg text-blue-title-text}

    


            btn{}
            <button type="button" class="bg-blue-basic hover:bg-opacity-70 text-gray-200 text-sm px-4 py-2 rounded focus:outline-none">搜尋</button>

colorCardTitle   bg-blue-400

Outline Button
<button type="button" class="border border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-gray-200 rounded px-4 py-2">Primary</button>
<button type="button" class="border border-gray-600 text-gray-600 hover:bg-gray-600 hover:text-gray-100 rounded px-4 py-2">Secondary</button>
<button type="button" class="border border-green-500 text-green-500 hover:bg-green-500 hover:text-gray-100 rounded px-4 py-2">Success</button>
<button type="button" class="border border-red-500 text-red-500 hover:bg-red-500 hover:text-gray-200 rounded px-4 py-2">Danger</button>
<button type="button" class="border border-yellow-400 text-yellow-400 hover:bg-yellow-400 hover:text-gray-800 rounded px-4 py-2">Warning</button>
<button type="button" class="border border-teal-500 text-teal-500 hover:bg-teal-500 hover:text-gray-100 rounded px-4 py-2">Info</button>
<button type="button" class="border border-gray-300 text-gray-500 hover:bg-gray-300 hover:text-gray-900 rounded px-4 py-2">Light</button>
<button type="button" class="border border-gray-900 text-gray-900 hover:bg-gray-900 hover:text-gray-100 rounded px-4 py-2">Dark</button>


<input type="search" class="form-control myInput w-80 md:w-72 sm:w-full " placeholder="輸入機台名稱或生產線名稱" aria-label="Recipient's username" aria-describedby="button-addon2">
form-control myInput w-80 md:w-72 sm:w-full