body.dark {
    color: #fff;
  }
  .body {
      background-color: #1a114e;
      padding: 24px;
  }
  .width20 {
    width: 20% !important;
  }
  .width25 {
    width: 25% !important;
  }
  .width30 {
    width: 30% !important;
  }
  .width40 {
    width: 40% !important;
  }
  .width45 {
    width: 45% !important;
  }
  .width50 {
    width: 50% !important;
  }
  .width70 {
    width: 70% !important;
  }
  .width74 {
    width: 74% !important;
  }
  .width75 {
    width: 75% !important;
  }
  .float-right {
    float: right;
  }
  .mb20 {
    margin-bottom: 20px;
  }
  .mtb20 {
    margin: 20px 0;
  }
  .pdb20 {
    padding-bottom: 20px;
  }
  
  .borderbtm1 {
    border-bottom: 1px solid #000;
  }
  .inline {
    display: inline-block;
  }
  .mainlogo {
    min-height: 45px;
    margin-top: 13px;
  }
  .mainlogo img {
    width: 100%;
  }
  .sublogotext {
    vertical-align: text-top;
    display: inline-block;
    margin-left: 10px;
  }
  /*font*/
  .fontarial {
    font-family: Arial, Helvetica, sans-serif;
  }

  .impnb {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: #fb7478;
    font-size: 2.75em;
    margin-top: 15px;
    text-align: center;
  }
  .eff {
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
  }
  .fontwt {
    font-weight: 600;
  }
  
  /*頁頭*/
  .header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 1px solid #6761cd;
    border-radius: 10px;
    background: #1a114e;
    padding: 12px;
  }
  .items {
    width: 20%;
  }
  .items2 {
    display: flex;
    text-align: center;
  }
  .item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .title {
    text-transform: uppercase;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 1em;
    color: #fff;
    margin-top: 12px;
    position: relative;
  }
  .subtitle {
    font-family: Arail, sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.25em;
  }
  .titleline {
    display: inline-block;
    height: 5px;
    border-top: 1px solid #fff;
    margin-left: 5px;
    width: 60%;
  }
  /*圓形圖表*/
  svg:not(:root) {
    overflow: initial;
  }
  .single-chart {
    width: 100%;
    justify-content: space-around;
  }
  .circular-chart {
    max-height: 80px;
    margin-top: 8px;
  }
  .circle-bg {
    fill: none;
    stroke: #fff;
    stroke-width: 5;
  }
  .circle {
    fill: none;
    stroke-width: 5;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }
  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
  .circular-chart.color .circle {
    stroke: #fb7478;
  }
  .percentage {
      fill: #fff;
      font-family: sans-serif;
      font-size: 0.5em;
      text-anchor: middle;
  }
  .percentage.numbers {
      color: #fff;
  }
  /*圓形圖形End*/
  /*中間區塊*/
  .ctblock {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .block {
      border: 1px solid #6761cd;
      border-radius: 10px;
      background: #1a114e;
      margin: 12px 0 0 0;
      padding: 24px;
  }
  .chartCircleBox {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    width: 62vw;
    margin-left: 36px;
    background: #1a114e;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 4vw;
    padding: 15px 0;
    border: 1px solid #6761cd;
  }
  .chartCircleBox span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .labels span{
    margin-left: 10px;
  }
  .labels div{
    margin-right: 30px;
  }
  .line {
    display: inline-block;
    height: 5px;
    margin-left: 5px;
    width: 4%;
  }
  
  /*中間區塊end*/
  /*右方table*/
  caption {
      background: #009da4;
      color: #fff;
      text-align: center;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 0;
    border-top: 0;
    line-height: 1.8em;
    color: #5c5c5c;
  }
  table.table {
      background: #1a114e;
      text-align: center;
      border-collapse: collapse;
      font-family: "Noto Sans TC", sans-serif;
      border: 1px solid #b2b2b2;
  }
  
  table.table td,
  table.table th {
    border: none;
    padding: 3px 2px;
    text-align: center;
  }
  table.table tbody td {
    font-size: 1em;
    font-family: "Noto Sans TC", sans-serif;
  }
  table.table tr:nth-child(even) {
    background: #f5f5f5;
  }
  table.table thead {
      background: #1a114e;
      border-bottom: 2px solid #6761cd;
  }
  table.table thead th {
    font-size: 1em;
    color: #fff;
  }
  .table span {
    border-radius: 10px;
    padding: 0 20px;
    margin: 5px;
    color: #fff;
  }
  table.table.align-left tr td:nth-child(1) {
    width: 10%;
    text-align: left;
    padding-left: 5px;
  }
  table.table.align-left tr td:nth-child(2) {
    text-align: left;
  }
  
  .chart-block {
    width: 50%; 
    float: left;
  }
  @media (max-width: 1024px) {
    .mainlogo {
      min-height: 35px;
      margin-top: 15px;
    }
    .eff {
      font-size: 1em;
    }
    .impnb {
      font-size: 2em;
    }
    .titleline {
      width: 45%;
    }
    .titleline.width20 {
      width: 0 !important;
    }
    .titleline.width45 {
      width: 25% !important;
    }
    .titleline.width50 {
      width: 30% !important;
    }
    .titleline.width70 {
      width: 65% !important;
    }
    .titleline.width75 {
      width: 70% !important;
    }
    .subtitle {
      font-size: 0.9em;
    }
    .subtitle span {
      display: block;
    }
    .chartCircleBox span {
      width: 8.15%;
    }
    .block {
      padding: 12px;
    }
    .table span {
      padding: 0 8px;
    }
    table.table thead {
      font-size: 0.8em;
    }
    .sublogotext {
      font-size: 0.87em;
    }
  }
  
  @media (max-width: 1920px) {
    .canvas_box {
      position: relative;
      margin: auto;
      height: 14vh;
      width: 65vw;
    }
    .canvas_box_2 {
      position: relative;
      margin: auto;
      height: 20vh;
      width: 100%;
      margin-bottom: 0.5vh;
    }
    .canvas_box_3 {
      position: relative;
      margin: auto;
      height: 36vh;
      width: 100%;
    }
    .chartCircleBox {
      width: 63.5vw;
      margin-left: 4vw;
    }
  }
  @media (max-width: 1366px) {
    .canvas_box {
      height: 14vh;
    }
    .canvas_box_2 {
      height: 18vh;
    }
    .canvas_box_3 {
      height: 34vh;
    }
    .chartCircleBox {
      width: 62.5vw;
      margin-left: 4vw;
    }
  }
  @media (max-width: 1024px) {
    .canvas_box {
      height: 14vh;
    }
    .canvas_box_2 {
      height: 18vh;
    }
    .canvas_box_3 {
      height: 34vh;
    }
    .chartCircleBox {
      width: 61.5vw;
      margin-left: 5vw;
    }
  }
  .dark .canvas_box div {
    color: #fff;
  }
  .dark table.table tbody td {
    color: #fff;
  }
  .dark table.table tr:nth-child(even) {
    background: #2b2b69;
  }
  
      /*  */
      .body{
          background-color: #1a114e;
      }
      table{
          width: 100%;
  
      }
       .canvas_box{
          /* 這裡 */
          height: 25vh;
      }
      .chartCircleBox{
          justify-content: space-evenly;
          width: calc( 66vw - 10px);
          margin-left: 18px;
          margin-top: 20px;
      }